<!DOCTYPE html>
<html>
  <head>
    <title>Salubrio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCOwAi28KPPBvh7Ru_UHGb_6rVeHJsmTpA" %>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
